*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track
{

    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(22, 146, 28, 0.3);
	
	background-color: #000;
}
body{
    -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;

}
.container{
    display:flex;
  flex-direction: column;
  width:100%;
  max-width:800px;
  height:500px;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid rgb(16, 145, 14);
  margin:20px;
  cursor: text;
  padding: 30px;
}
input{
    background-color: transparent;
    border: none;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    outline: 2px solid #0f0 !important;
    padding: 5px;
    width: 100%;
} 




/** body{
    -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
    margin: 0;
    padding: 20px;
}
#root{
    box-sizing:border-box;
    height:100vh;
    overflow:auto;
    padding:20px;
}
input{
    background-color: transparent;
    border: none;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    outline: 2px solid #0f0 !important;
    padding: 5px;
    width: 100%;
} 